/* You can add global styles to this file, and also import other style files */
.btn {
  padding: 6px 12px;
  font-size: 16px;
  margin-right: 10px;
}

.banner-image img{
  max-width: 100%;
  max-height: 200px;
}