@import "./_variables.scss";
.header {
    background-color: $header-bgColor;
    color: $header-fontColor;
    margin-bottom: 20px;
}
.all-browsers {
  margin-top: 20px;
    padding: 5px;
    background-color: $section-bgColor;
  }
  
  .all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
  }

  .all-browsers > h1 {
      color: $section-fontColor;
  }
  
  .browser {
    background:$article-bgColor;
    color: $article-fontColor;
  }
  
  .browser > h2, p {
    margin: 4px;
    font-size: 90%;
  }